body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(4k-wallpaper-background-blur-blurred-background-1242348.jpg);
    color: white;
    text-align: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
}
body header{ /*1st Komplexe Selektor*/
background-image: url(header2.png);
border: 5px solid lightcoral;


}
header>h1{ /*2nd Komplexe Selektor*/
    font-size: 250%;
    color: lightcoral;
    margin-left: -50%;
    text-shadow: 5px 5px pink;
    text-decoration: underline;
    margin-top: 3%;
}
img[src="logo.png"] { /*3te Komplexe Selektor-Attribut Selektor*/
   margin-left: -70%;
   margin-bottom: -7%;
}
header nav{
    position:fixed;
    bottom: 96%;
    right: -1%;
       
    background-color: rgb(248, 169, 196);
    width:  99.5%;
    height:3%;
    margin-right: 1%;
    
    border-radius: 5px;
    border: 5px solid lightcoral
}

img[src="shoppingcard.png"] {
    margin-right: -95%;
    margin-bottom: 0%;
}

header nav a{
    color: papayawhip;
    text-decoration: none;
    font-size: 120%;
    padding-right: 9%;
    padding-left: 9%;
    
}
nav a:hover{ /*4te Komplexe Selektor*/
    color:lightcoral;
    font-weight: bold;
}
  .aktuelleSeite{
    color: rgb(209, 47, 74);
    font-weight: bold;
}
footer * { /*5te Komplexe Selektor */
        padding: 20px;
        text-decoration: none;
        color: lightcoral;
        font-size: 25px;     
}
footer a:hover {
    color: rgb(128, 64, 124);
    font-weight: bold;
}
main{
    position: inherit;
}
main a{
    padding: 1%;
}

.menu {
    border-radius: 5px;
    border: 6px solid lightcoral;
}

main a img:hover{
    opacity: 0.5;
}

main .ink {
    align-content: center;
    border:6px solid lightcoral;
    background-color: lightpink;
    border-radius: 40px;
    width: 40%;
    height:40%;
    padding: 1%;
    margin: auto;
    margin-bottom: 10%;
}
main .sketch{
    align-content: center;
    border:6px solid lightcoral;
    background-color: lightpink;
    border-radius: 40px;
    width: 40%;
    height:40%;
    padding: 1%;
    margin: auto;
    margin-bottom: 10%;
}
main .paints{
    align-content: center;
    border:6px solid lightcoral;
    border-radius: 40px;
    background-color: lightpink;
    width: 40%;
    height:40%;
    padding: 1%;
    margin: auto;
    margin-bottom: 10%;
}

button {
    background-color: rgb(208, 177, 243);
}
button:hover {
    color: white;
    font-weight: bolder;
}
h3 ~ h4 { /*6te Komplexe Selektor */
    text-decoration: underline;
    font-size: 16px;
}
.artikeln { /*flexbox benutzt*/
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
}

@media screen and (max-width:600px) {
    body{
        max-width: 100%;
    }
  .artikeln img { max-width: 100%; height: auto; }
  .artikeln{
      width: 100%;
  }
  body header {
      width: 150%;
  }
  header h1{
      font-size: 25px;
      margin-left: 10%;
      margin-top: 7%;
  }
  img[src="logo.png"] {
     margin-top: 1%;
     margin-left: -60%;
     margin-bottom: -22%;
  }
  img[src="shoppingcard.png"] {
      margin-right: -80%;
      margin-bottom: 1%;
  }
  header nav a{
    padding: 2%;
    font-size: 13px;
  }
  main a{
      padding: 10%;
  }
 main a img{
     width: 100%;
     margin-left: 15%;
 }
 .artikeln { 
    width: 100%;
    align-items: center;
    }
    main .paints{
        align-content: center;
        border:6px solid lightcoral;
        border-radius: 40px;
        background-color: lightpink;
        width: 100%;
        padding: 1%;
        margin: auto;
        margin-bottom: 10%;
    }
    main .sketch{
        align-content: center;
        border:6px solid lightcoral;
        background-color: lightpink;
        border-radius: 40px;
        width: 100%;
        padding: 1%;
        margin: auto;
        margin-bottom: 10%;
    }
    main .ink {
        align-content: center;
        border:6px solid lightcoral;
        background-color: lightpink;
        border-radius: 40px;
        width: 100%;
        padding: 1%;
        margin: auto;
        margin-bottom: 10%;
    }
    
}

@media screen and (min-width: 600px) and (max-width:1024px) {
    body{
        max-width: 100%;
    }
    .artikeln img { max-width: 100%; height: auto; }
    .artikeln{
        
        width: 100%;
        margin-left: -6%;
    }
    body header {
        width: 100%;
    }
    header h1{
      font-size: 40px; 
      margin-left: -40%;
    }
    img[src="logo.png"] {
        margin-left: -80%;
        margin-bottom: -10%;
        margin-top: 5%;
    }
    header nav a{
        padding: 5%;
    }
    main a{
        padding: 5%
    }
    main a img {
        width:80%
    }
    main .paints{
        width: 40%;
        
    }
    main .sketch{
        align-content: center;
        border:6px solid lightcoral;
        background-color: lightpink;
        border-radius: 40px;
        width: 40%;
        padding: 1%;
        margin: auto;
        margin-bottom: 10%;
    }
    main .ink {
        align-content: center;
        border:6px solid lightcoral;
        background-color: lightpink;
        border-radius: 40px;
        width: 40%;
        padding: 1%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 2%;
    }
    
}
@media screen and (min-width:1024px) {
    img[src="logo.png"] {
     margin-left: -75%;
     margin-bottom: -7%;
    }
    
}
